{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [ 
	  { "item" : "liberatorarmorhead" },
	  { "item" : "liberatorarmorchest" },
	  { "item" : "liberatorarmorpants" },

	  { "item" : "adeptarmorhead" },
	  { "item" : "adeptarmorchest" },
	  { "item" : "adeptarmorpants" },
	
	  { "item" : "beserkerarmorhead" },
	  { "item" : "beserkerarmorchest" },
	  { "item" : "beserkerarmorpants" },

	  { "item" : "scorpionarmorhead" },
	  { "item" : "scorpionarmorchest" },
	  { "item" : "scorpionarmorpants" },

	  { "item" : "silverbackarmorhead" },
	  { "item" : "silverbackarmorchest" },
	  { "item" : "silverbackarmorpants" },

	  { "item" : "n7armorhead" },
	  { "item" : "n7armorchest" },
	  { "item" : "n7armorpants" }
	]
  }
}