{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
	
      { "item" : "phoenixarmorhead" },
      { "item" : "phoenixarmorchest" },
      { "item" : "phoenixarmorpants" },	
	
	  { "item" : "liberatorarmorhead" },
	  { "item" : "liberatorarmorchest" },
	  { "item" : "liberatorarmorpants" },

	  { "item" : "agentarmorhead" },
	  { "item" : "agentarmorchest" },
	  { "item" : "agentarmorpants" },
	
	  { "item" : "berserkerarmorhead" },
	  { "item" : "berserkerarmorchest" },
	  { "item" : "berserkerarmorpants" },

	  { "item" : "scorpionarmorhead" },
	  { "item" : "scorpionarmorchest" },
	  { "item" : "scorpionarmorpants" },

	  { "item" : "silverbackarmorhead" },
	  { "item" : "silverbackarmorchest" },
	  { "item" : "silverbackarmorpants" },

	  { "item" : "n7armorhead" },
	  { "item" : "n7armorchest" },
	  { "item" : "n7armorpants" }
	]
  }
}