{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ace", "Arch", "Bat", "Bate", "Brig", "Chris", "Cross", "Ed", "Dew", "Dona", "Elm", "Far", "Futter", "Good", "Galt", "Hop", "Crow", "Jack", "Lint", "Love", "Greg", "Mitch", "Moss", "Nate", "Orf", "Priest", "Paul", "Rich", "Stepp", "Thom", "Wil" ],
      [ { "mode" : "alts" }, "son", "man", "mann", "ley", "born", "by", "mer", "ron", "ton", "mon", "well", "ald", "ell", "all", "ness", "tello", "roy", "ment", "wall", "wale", "liss", "less", "leth", "by", "-Smythe", "-Jones", "-Peters", "-Funke" ]
    ]
  ]
}
