{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Liara ", "Matriarch ", "Benezia ", "Morinth ", "Samara ", "Aria ", "Pheeyka ", "Kiezite ", "Isharla ", "Shaisrae ", "Sha'ira ", "Staedra ", "Tearta ", "Norasszia ", "Lenet ", "Laesena ", "Heliymea ", "Cheesta ", "Iney ", "Tar'phi ", "Penari ", "Heanyha " ],
	  [ { "mode" : "alts" }, "T'soni", "T'loak", "Shiana", "M'torus", "Shaius", "Mujah", "D'bienis", "Dira", "M'lioto", "Moratora", "Kesus", "Heius", "Pesaqua", "Gayne", "Pelas", "T'vari", "Ieava", "Driana", "Ielyt", "Pero", "T'meora", "Sedeli" ]
    ]
  ]
}

