{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ 
	    { "mode" : "alts" }, 
	    "Commander ", "Dr.", "Admiral ", "The Illusive ", "Mysterious ", "Ensign ", "Captain ", "General ", "Sergeant ", "Ben ", "David ", "Derek ", "Donnel ", "Emilio ", "Greg ", "Jack ", "Jacob ", "James ", "Jeff ", "Joshua ", "Kaidan ", "Kai ", "Kenneth ", "Oleg ", "Randall ", "Raymond ", "Richard L. ", "Steve ", "Steven ", "Toni ", "Zaeed "
	  ],
	  [ 
	    { "mode" : "alts" }, 
		"Aleko", "Adams", "Allers", "Anderson", "Ashe", "Bailey", "Brooks", "Bryson", "Chakwas", "Chambers", "Cortez", "Core", "Daniels", "Donnelly", "Ezno", "Goto", "Grayson", "Hackett", "Harper", "Hislop", "Izunami", "Jenkins", "Kenson", "Lawson", "Leng", "Massani", "Moreau", "Petrovsky", "Shepard", "Sanders", "Taylor", "Traynor", "Udina", "Vega", "Williams"
	  ]
    ]
  ]
}
