{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Commander ", "Dr.", "Admiral ", "The Illusive ", "Mysterious ", "Ensign ", "Captain ", "General ", "Sergeant ", "April ", "Ann ", "Amanda ", "Ashley ", "Chloe ", "Christine ", "Diana ", "Eva ", "Gabriella ", "Gillian ", "Jack ", "Kahlee ", "Kamille ", "Karin ", "Kasumi ", "Kelly ", "Miranda ", "Maya ", "Samantha " ],
	  [ { "mode" : "alts" }, "Aleko", "Adams", "Allers", "Anderson", "Ashe", "Bailey", "Brooks", "Bryson", "Chakwas", "Chambers", "Cortez", "Core", "Daniels", "Donnelly", "Ezno", "Goto", "Grayson", "Hackett", "Harper", "Hislop", "Izunami", "Jenkins", "Kenson", "Lawson", "Leng", "Massani", "Moreau", "Petrovsky", "Shepard", "Sanders", "Taylor", "Traynor", "Udina", "Vega", "Williams" ]
    ]
  ]
}
