{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Druna", "Juliannus", "Arrurius", "Camilius", "Opmus", "Cnamius", "Potsius", "Potiter", "Aulmus", "Garrus", "Lulio", "Primeus", "Manilus", "Tibeter", "Costus", "Jutius", "Nuvus", "Opitis", "Casnus", "Galsius", "Aulius" ],
	  [ { "mode" : "alts" }, "Vakarian", "Varculus", "Opitis", "Octalin", "Taninus", "Aletius", "Romuldros", "Bellacus", "Ursilianus", "Petanus", "Bellanis", "Itanion", "Habnianus", "Bartus", "Abitius", "Globnianus", "Fausril", "Sevecus", "Caeldros", "Acildas", "Ignalus" ]
    ]
  ]
}
