{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
	  [ { "mode" : "alts" }, "Jutana", "Gabina", "Equlia", "Gralonia", "Pedpilia", "Camisia", "Sidoponia", "Vorenaria", "Icinia", "Qutia", "Destitiria", "Menepia", "Marivia", "Sina", "Septiginia", "Durocidia", "Seculia", "Tulbia", "Hermitilia", "Maniponia" ],
	  [ { "mode" : "alts" }, "Vakarian", "Varculus", "Opitis", "Octalin", "Taninus", "Aletius", "Romuldros", "Bellacus", "Ursilianus", "Petanus", "Bellanis", "Itanion", "Habnianus", "Bartus", "Abitius", "Globnianus", "Fausril", "Sevecus", "Caeldros", "Acildas", "Ignalus" ]
    ]
  ]
}
