{
  "__merge" : [],
 
  "initialcodex" : {
 	"n7human" : [ "controls", "n7humansearth", "n7humansystemsalliance", "n7humanfirstcontactwar", "n7humann7" ],
	"asari" : [ "controls", "asariprologue", "asariorigins", "asariambition" ],
	"turian" : [ "controls", "turianprologue", "turianorigins", "turiandirective" ]
  }
}
