{
	"__merge" : [],
	"initialquests" : {
		"n7human" : [ 
			"n7humantutorial.gearup",
			"citadeltech01.codexacquire",
			"citadelship01.codexacquire"
		],
		"asari" : [ 
			"asaritutorial.gearup",
			"citadeltech01.codexacquire",
			"citadelship01.codexacquire"
		],
		"turian" : [ 
			"turiantutorial.gearup",
			"citadeltech01.codexacquire",
			"citadelship01.codexacquire"
		]
	}
}
