{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [ 
      { "item" : "phoenixarmorhead" },
      { "item" : "phoenixarmorchest" },
      { "item" : "phoenixarmorpants" },
	  { "item" : "omnitool1" },
	  { "item" : "omnitool2" },
	  { "item" : "omnitool3" },
	  { "item" : "omnitool4" },
	  { "item" : "omniblade1" },
	  { "item" : "omniblade2" },
	  { "item" : "omniblade3" },
	  { "item" : "omniblade4" } 
    ],
	
	"tier2" : [
	  { "item" : "adeptarmorhead" },
	  { "item" : "adeptarmorchest" },
	  { "item" : "adeptarmorpants" },
	],
	
	"tier9" : [
	  { "item" : "n7armorhead" },
	  { "item" : "n7armorchest" },
	  { "item" : "n7armorpants" },
	]
  },
  "species" : [ "n7human" ]
}