{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [ 
      { "item" : "phoenixarmorIhead" },
      { "item" : "phoenixarmorIchest" },
      { "item" : "phoenixarmorIpants" },
	  { "item" : "liberatorarmorIhead" },
	  { "item" : "liberatorarmorIchest" },
	  { "item" : "liberatorarmorIpants" },
	  { "item" : "agentarmorIhead" },
	  { "item" : "agentarmorIchest" },
	  { "item" : "agentarmorIpants" },
	  { "item" : "berserkerarmorIhead" },
	  { "item" : "berserkerarmorIchest" },
	  { "item" : "berserkerarmorIpants" },
	  { "item" : "scorpionarmorIhead" },
	  { "item" : "scorpionarmorIchest" },
	  { "item" : "scorpionarmorIpants" },
	  { "item" : "silverbackarmorIhead" },
	  { "item" : "silverbackarmorIchest" },
	  { "item" : "silverbackarmorIpants" },
	  { "item" : "n7armorIhead" },
	  { "item" : "n7armorIchest" },
	  { "item" : "n7armorIpants" },
	  { "item" : "omnitool1" },
      { "item" : "omnitool2" },
      { "item" : "omnitool3" },
      { "item" : "omnitool4" },
      { "item" : "smeeomniblade1" },
      { "item" : "smeeomniblade2" },
      { "item" : "smeeomniblade3" },
      { "item" : "smeeomniblade4" },
      { "item" : "smeeemodstation" },
      { "item" : "gethpulserifle_1" },
      { "item" : "m3predator_1" },
      { "item" : "m5phalanx_1" },
      { "item" : "m6carnifex_1" },
      { "item" : "m8avenger_1" },
      { "item" : "m76revenant_1" },
      { "item" : "m92mantis_1" },
      { "item" : "m97viper_1" },
      { "item" : "m98widow_1" },
      { "item" : "biotic-lift-chip" },
      { "item" : "biotic-slow-chip" }
    ]
  }
}