{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [ 
      { "item" : "n7armorhead" },
      { "item" : "n7armorchest" },
      { "item" : "n7armorpants" },
	  { "item" : "omnitool1" },
	  { "item" : "omnitool2" },
	  { "item" : "omnitool3" },
	  { "item" : "omnitool4" },
	  { "item" : "smeeomniblade1" },
	  { "item" : "smeeomniblade2" },
	  { "item" : "smeeomniblade3" },
	  { "item" : "smeeomniblade4" } 
    ]
  },
  "species" : [ "n7human" ]
}