{
  "mainMenuButtonsKeys" : [ "singleplayer", "multiplayer", "options", "quit", "back" ],
  "mainMenuButtons" : [ "/interface/title/singleplayer.png", "/interface/title/multiplayer.png", "/interface/title/options.png", "/interface/title/quit.png", "/interface/title/back.png" ],
  "mainMenuButtonsDisabled" : [ "", "", "", "", "" ],
  "mainMenuButtonsHover" : [ "/interface/title/singleplayerover.png", "/interface/title/multiplayerover.png", "/interface/title/optionsover.png", "/interface/title/quitover.png", "/interface/title/backover.png" ],
  "mainMenuButtonsOffsets" : [ [320, 60], [225, 35], [415, 35], [320, 10], [0, 10] ],

  "skyBackdropDarken" : [0, 0, 0, 100],

  // Backdrop images are centered, offset is from top center of window
  "backdropImages" : [
    [ [0, -30], "/interface/title/blackbar.png", 0.5],
    [ [0, 10], "/interface/title/firstlogo.png", 0.5]
  ],

  "music" : {
    "day" : {
      "tracks" : [ "/music/TitleMenuMusic.ogg" ]
    },
    "night" : {
      "tracks" : [ "/music/TitleMenuMusic.ogg" ]
    }
  }
}
